<div id="countdown"></div>
<h1>jQuery Racer</h1>
<p>
	Player 1: hit "A" to advance!<br>
	Player 2: hit "J" to advance!
</p>
<div id="name-input">
	Player 1 name: <input type="text" id="player1"><br>
	Player 2 name: <input type="text" id="player2"><br>
	<button id="start">Begin Race!</button>
</div>
<table class="racer_table">
  <tr id="player1_strip">
	<td class="active"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
  </tr>
  <tr id="player2_strip">
	<td class="active"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
  </tr>
</table>
